body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../PhoneDetails_Intro_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1450px;
    height:977px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1450px;
    height:977px;
}

.u1 {
    position:absolute;
    left:2px;
    top:480px;
    width:1446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../PhoneDetails_Intro_1_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:86px;
    top:84px;
    width:1277px;
    height:80px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1283px;
    height:86px;
}

.u3 {
    position:absolute;
    left:2px;
    top:32px;
    width:1273px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../PhoneDetails_Intro_1_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:88px;
    top:88px;
    width:64px;
    height:64px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u5 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../PhoneDetails_Intro_1_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:86px;
    top:821px;
    width:1278px;
    height:64px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1284px;
    height:70px;
}

.u7 {
    position:absolute;
    left:2px;
    top:24px;
    width:1274px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../PhoneDetails_Intro_1_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:1241px;
    top:821px;
    width:64px;
    height:64px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u9 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:1214px;
    top:104px;
    width:135px;
    height:44px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 20px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11_container {
    position:absolute;
    left:1125px;
    top:823px;
    width:63px;
    height:62px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:63px;
    height:62px;
}

.u12 {
    position:absolute;
    left:2px;
    top:23px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../PhoneDetails_Intro_1_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:111px;
    top:823px;
    width:64px;
    height:64px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u14 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../PhoneDetails_Intro_1_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:218px;
    top:823px;
    width:64px;
    height:64px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u16 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:1053px;
    top:104px;
    width:135px;
    height:44px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 20px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:886px;
    top:104px;
    width:135px;
    height:44px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 20px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19_container {
    position:absolute;
    left:183px;
    top:291px;
    width:780px;
    height:446px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:780px;
    height:446px;
}

.u20 {
    position:absolute;
    left:2px;
    top:215px;
    width:776px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../PhoneDetails_Intro_1_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:91px;
    top:272px;
    width:64px;
    height:64px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u22 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:132px;
    top:183px;
    width:646px;
    height:46px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../PhoneDetails_Intro_1_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:1301px;
    top:272px;
    width:64px;
    height:64px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u25 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../PhoneDetails_Intro_1_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:1053px;
    top:184px;
    width:238px;
    height:301px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:244px;
    height:307px;
}

.u27 {
    position:absolute;
    left:2px;
    top:142px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_container {
    position:absolute;
    left:1081px;
    top:190px;
    width:177px;
    height:178px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:177px;
    height:178px;
}

.u29 {
    position:absolute;
    left:2px;
    top:81px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../PhoneDetails_Intro_1_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:1064px;
    top:368px;
    width:210px;
    height:62px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:68px;
}

.u31 {
    position:absolute;
    left:2px;
    top:4px;
    width:206px;
    height:54px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:1071px;
    top:449px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../PhoneDetails_Intro_1_files/u26_normal.png');
}

.u33_container {
    position:absolute;
    left:1053px;
    top:495px;
    width:238px;
    height:301px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:244px;
    height:307px;
}

.u34 {
    position:absolute;
    left:2px;
    top:142px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_container {
    position:absolute;
    left:1081px;
    top:501px;
    width:181px;
    height:159px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:181px;
    height:159px;
}

.u36 {
    position:absolute;
    left:2px;
    top:72px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../PhoneDetails_Intro_1_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:1064px;
    top:670px;
    width:210px;
    height:80px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:86px;
}

.u38 {
    position:absolute;
    left:2px;
    top:0px;
    width:206px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:1083px;
    top:760px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

