body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../NetworkSetup_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1450px;
    height:977px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1450px;
    height:977px;
}

.u1 {
    position:absolute;
    left:2px;
    top:480px;
    width:1446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:168px;
    top:250px;
    width:996px;
    height:604px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:996px;
    height:604px;
}

.u3 {
    position:absolute;
    left:2px;
    top:294px;
    width:992px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../NetworkSetup_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:86px;
    top:158px;
    width:1277px;
    height:80px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1283px;
    height:86px;
}

.u5 {
    position:absolute;
    left:2px;
    top:32px;
    width:1273px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../NetworkSetup_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:88px;
    top:92px;
    width:1278px;
    height:64px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1284px;
    height:70px;
}

.u7 {
    position:absolute;
    left:2px;
    top:24px;
    width:1274px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../NetworkSetup_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:1246px;
    top:92px;
    width:64px;
    height:64px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u9 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_container {
    position:absolute;
    left:1130px;
    top:94px;
    width:63px;
    height:62px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:63px;
    height:62px;
}

.u11 {
    position:absolute;
    left:2px;
    top:23px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:102px;
    top:184px;
    width:398px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_container {
    position:absolute;
    left:90px;
    top:92px;
    width:161px;
    height:64px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:161px;
    height:64px;
}

.u14 {
    position:absolute;
    left:2px;
    top:24px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../NetworkSetup_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:1096px;
    top:158px;
    width:89px;
    height:80px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:86px;
}

.u16 {
    position:absolute;
    left:2px;
    top:30px;
    width:85px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../NetworkSetup_files/u15_normal.png');
}

.u17_container {
    position:absolute;
    left:1184px;
    top:158px;
    width:89px;
    height:80px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:86px;
}

.u18 {
    position:absolute;
    left:2px;
    top:30px;
    width:85px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../NetworkSetup_files/u15_normal.png');
}

.u19_container {
    position:absolute;
    left:1274px;
    top:158px;
    width:89px;
    height:80px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:86px;
}

.u20 {
    position:absolute;
    left:2px;
    top:30px;
    width:85px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../NetworkSetup_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:1298px;
    top:807px;
    width:74px;
    height:80px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:86px;
}

.u22 {
    position:absolute;
    left:2px;
    top:30px;
    width:70px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u23 {
    position:absolute;
    left:1093px;
    top:238px;
    width:280px;
    height:590px;
    overflow:hidden;
}

#pd0u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:590px;
    
}

.u24_normal {
    background-image: url('../NetworkSetup_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:15px;
    top:0px;
    width:238px;
    height:289px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:244px;
    height:295px;
}

.u25 {
    position:absolute;
    left:2px;
    top:136px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_container {
    position:absolute;
    left:31px;
    top:41px;
    width:205px;
    height:85px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:85px;
}

.u27 {
    position:absolute;
    left:2px;
    top:34px;
    width:201px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../NetworkSetup_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:26px;
    top:177px;
    width:210px;
    height:77px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:83px;
}

.u29 {
    position:absolute;
    left:2px;
    top:22px;
    width:206px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:33px;
    top:260px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../NetworkSetup_files/u24_normal.png');
}

.u31_container {
    position:absolute;
    left:15px;
    top:298px;
    width:238px;
    height:289px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:244px;
    height:295px;
}

.u32 {
    position:absolute;
    left:2px;
    top:136px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../NetworkSetup_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:26px;
    top:466px;
    width:210px;
    height:87px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:93px;
}

.u34 {
    position:absolute;
    left:2px;
    top:28px;
    width:206px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:45px;
    top:559px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_container {
    position:absolute;
    left:31px;
    top:324px;
    width:205px;
    height:85px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:85px;
}

.u37 {
    position:absolute;
    left:2px;
    top:34px;
    width:201px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

