body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../ShoppingCart_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1450px;
    height:977px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1450px;
    height:977px;
}

.u1 {
    position:absolute;
    left:2px;
    top:480px;
    width:1446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u2 {
    position:absolute;
    left:138px;
    top:450px;
    width:1059px;
    height:289px
}

.u3_normal {
    background-image: url('../ShoppingCart_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:122px;
    height:38px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:44px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:118px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../ShoppingCart_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:122px;
    top:0px;
    width:126px;
    height:38px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:44px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:122px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../ShoppingCart_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:248px;
    top:0px;
    width:160px;
    height:38px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:44px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:156px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../ShoppingCart_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:408px;
    top:0px;
    width:156px;
    height:38px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:162px;
    height:44px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:152px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../ShoppingCart_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:564px;
    top:0px;
    width:185px;
    height:38px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:191px;
    height:44px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:181px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../ShoppingCart_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:748px;
    top:0px;
    width:155px;
    height:38px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:44px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:151px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../ShoppingCart_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:903px;
    top:0px;
    width:150px;
    height:38px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:44px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../ShoppingCart_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:38px;
    width:122px;
    height:82px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:88px;
}

.u18 {
    position:absolute;
    left:2px;
    top:30px;
    width:118px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../ShoppingCart_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:122px;
    top:38px;
    width:126px;
    height:82px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:88px;
}

.u20 {
    position:absolute;
    left:2px;
    top:30px;
    width:122px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../ShoppingCart_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:248px;
    top:38px;
    width:160px;
    height:82px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:88px;
}

.u22 {
    position:absolute;
    left:2px;
    top:30px;
    width:156px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../ShoppingCart_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:408px;
    top:38px;
    width:156px;
    height:82px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:162px;
    height:88px;
}

.u24 {
    position:absolute;
    left:2px;
    top:30px;
    width:152px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../ShoppingCart_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:564px;
    top:38px;
    width:185px;
    height:82px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:191px;
    height:88px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:181px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../ShoppingCart_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:748px;
    top:38px;
    width:155px;
    height:82px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:88px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../ShoppingCart_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:903px;
    top:38px;
    width:150px;
    height:82px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:88px;
}

.u30 {
    position:absolute;
    left:2px;
    top:33px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../ShoppingCart_files/u17_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:120px;
    width:122px;
    height:82px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:88px;
}

.u32 {
    position:absolute;
    left:2px;
    top:30px;
    width:118px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../ShoppingCart_files/u19_normal.png');
}

.u33_container {
    position:absolute;
    left:122px;
    top:120px;
    width:126px;
    height:82px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:88px;
}

.u34 {
    position:absolute;
    left:2px;
    top:30px;
    width:122px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../ShoppingCart_files/u21_normal.png');
}

.u35_container {
    position:absolute;
    left:248px;
    top:120px;
    width:160px;
    height:82px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:88px;
}

.u36 {
    position:absolute;
    left:2px;
    top:30px;
    width:156px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../ShoppingCart_files/u23_normal.png');
}

.u37_container {
    position:absolute;
    left:408px;
    top:120px;
    width:156px;
    height:82px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:162px;
    height:88px;
}

.u38 {
    position:absolute;
    left:2px;
    top:30px;
    width:152px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../ShoppingCart_files/u25_normal.png');
}

.u39_container {
    position:absolute;
    left:564px;
    top:120px;
    width:185px;
    height:82px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:191px;
    height:88px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:181px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../ShoppingCart_files/u27_normal.png');
}

.u41_container {
    position:absolute;
    left:748px;
    top:120px;
    width:155px;
    height:82px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:88px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../ShoppingCart_files/u29_normal.png');
}

.u43_container {
    position:absolute;
    left:903px;
    top:120px;
    width:150px;
    height:82px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:88px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../ShoppingCart_files/u17_normal.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:202px;
    width:122px;
    height:82px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:128px;
    height:88px;
}

.u46 {
    position:absolute;
    left:2px;
    top:30px;
    width:118px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../ShoppingCart_files/u19_normal.png');
}

.u47_container {
    position:absolute;
    left:122px;
    top:202px;
    width:126px;
    height:82px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:88px;
}

.u48 {
    position:absolute;
    left:2px;
    top:30px;
    width:122px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../ShoppingCart_files/u21_normal.png');
}

.u49_container {
    position:absolute;
    left:248px;
    top:202px;
    width:160px;
    height:82px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:88px;
}

.u50 {
    position:absolute;
    left:2px;
    top:30px;
    width:156px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../ShoppingCart_files/u23_normal.png');
}

.u51_container {
    position:absolute;
    left:408px;
    top:202px;
    width:156px;
    height:82px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:162px;
    height:88px;
}

.u52 {
    position:absolute;
    left:2px;
    top:33px;
    width:152px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../ShoppingCart_files/u25_normal.png');
}

.u53_container {
    position:absolute;
    left:564px;
    top:202px;
    width:185px;
    height:82px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:191px;
    height:88px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:181px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../ShoppingCart_files/u27_normal.png');
}

.u55_container {
    position:absolute;
    left:748px;
    top:202px;
    width:155px;
    height:82px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:88px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../ShoppingCart_files/u29_normal.png');
}

.u57_container {
    position:absolute;
    left:903px;
    top:202px;
    width:150px;
    height:82px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:88px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u59 {
    position:absolute;
    left:138px;
    top:246px;
    width:679px;
    height:111px
}

.u60_normal {
    background-image: url('../ShoppingCart_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:25px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../ShoppingCart_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:100px;
    top:0px;
    width:574px;
    height:25px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:580px;
    height:31px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:570px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../ShoppingCart_files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:0px;
    top:25px;
    width:100px;
    height:27px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:33px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../ShoppingCart_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:100px;
    top:25px;
    width:574px;
    height:27px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:580px;
    height:33px;
}

.u67 {
    position:absolute;
    left:2px;
    top:2px;
    width:570px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../ShoppingCart_files/u64_normal.png');
}

.u68_container {
    position:absolute;
    left:0px;
    top:52px;
    width:100px;
    height:27px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:33px;
}

.u69 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../ShoppingCart_files/u66_normal.png');
}

.u70_container {
    position:absolute;
    left:100px;
    top:52px;
    width:574px;
    height:27px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:580px;
    height:33px;
}

.u71 {
    position:absolute;
    left:2px;
    top:2px;
    width:570px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../ShoppingCart_files/u64_normal.png');
}

.u72_container {
    position:absolute;
    left:0px;
    top:79px;
    width:100px;
    height:27px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:33px;
}

.u73 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../ShoppingCart_files/u66_normal.png');
}

.u74_container {
    position:absolute;
    left:100px;
    top:79px;
    width:574px;
    height:27px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:580px;
    height:33px;
}

.u75 {
    position:absolute;
    left:2px;
    top:2px;
    width:570px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:670px;
    top:368px;
    width:142px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 20px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77 {
    position:absolute;
    left:760px;
    top:514px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 20px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u78 {
    position:absolute;
    left:724px;
    top:514px;
    width:24px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 20px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u79 {
    position:absolute;
    left:838px;
    top:514px;
    width:24px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 20px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u80 {
    position:absolute;
    left:760px;
    top:598px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 20px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u81 {
    position:absolute;
    left:724px;
    top:598px;
    width:24px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 20px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u82 {
    position:absolute;
    left:838px;
    top:598px;
    width:24px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 20px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u83 {
    position:absolute;
    left:918px;
    top:514px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 20px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u84 {
    position:absolute;
    left:918px;
    top:598px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 20px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u85 {
    position:absolute;
    left:897px;
    top:770px;
    width:142px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 20px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u86 {
    position:absolute;
    left:138px;
    top:190px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../ShoppingCart_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:88px;
    top:92px;
    width:1278px;
    height:64px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1284px;
    height:70px;
}

.u88 {
    position:absolute;
    left:2px;
    top:24px;
    width:1274px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../ShoppingCart_files/u89_normal.png');
}

.u89_container {
    position:absolute;
    left:1246px;
    top:92px;
    width:64px;
    height:64px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u90 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_container {
    position:absolute;
    left:90px;
    top:92px;
    width:161px;
    height:64px;
}

#u91_img {
    position:absolute;
    left:0px;
    top:0px;
    width:161px;
    height:64px;
}

.u92 {
    position:absolute;
    left:2px;
    top:24px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:1042px;
    top:652px;
    width:146px;
    height:82px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 20px;
    color:#339999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u94 {
    position:absolute;
    left:1042px;
    top:570px;
    width:146px;
    height:82px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 20px;
    color:#339999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u95 {
    position:absolute;
    left:1042px;
    top:488px;
    width:146px;
    height:82px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 20px;
    color:#339999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

