body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../NetworkDetails_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1450px;
    height:977px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1450px;
    height:977px;
}

.u1 {
    position:absolute;
    left:2px;
    top:480px;
    width:1446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../NetworkDetails_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:86px;
    top:158px;
    width:1277px;
    height:80px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1283px;
    height:86px;
}

.u3 {
    position:absolute;
    left:2px;
    top:32px;
    width:1273px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u4 {
    position:absolute;
    left:394px;
    top:248px;
    width:909px;
    height:609px
}

.u5_normal {
    background-image: url('../NetworkDetails_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:0px;
    width:168px;
    height:25px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:31px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../NetworkDetails_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:168px;
    top:0px;
    width:665px;
    height:25px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:671px;
    height:31px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:661px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../NetworkDetails_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:833px;
    top:0px;
    width:71px;
    height:25px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:31px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../NetworkDetails_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:25px;
    width:168px;
    height:23px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:29px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../NetworkDetails_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:168px;
    top:25px;
    width:665px;
    height:23px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:671px;
    height:29px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:661px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../NetworkDetails_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:833px;
    top:25px;
    width:71px;
    height:23px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:29px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../NetworkDetails_files/u11_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:48px;
    width:168px;
    height:23px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:29px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../NetworkDetails_files/u13_normal.png');
}

.u19_container {
    position:absolute;
    left:168px;
    top:48px;
    width:665px;
    height:23px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:671px;
    height:29px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:661px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../NetworkDetails_files/u15_normal.png');
}

.u21_container {
    position:absolute;
    left:833px;
    top:48px;
    width:71px;
    height:23px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:29px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../NetworkDetails_files/u11_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:71px;
    width:168px;
    height:23px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:29px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../NetworkDetails_files/u13_normal.png');
}

.u25_container {
    position:absolute;
    left:168px;
    top:71px;
    width:665px;
    height:23px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:671px;
    height:29px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:661px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../NetworkDetails_files/u15_normal.png');
}

.u27_container {
    position:absolute;
    left:833px;
    top:71px;
    width:71px;
    height:23px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:29px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../NetworkDetails_files/u11_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:94px;
    width:168px;
    height:23px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:29px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../NetworkDetails_files/u13_normal.png');
}

.u31_container {
    position:absolute;
    left:168px;
    top:94px;
    width:665px;
    height:23px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:671px;
    height:29px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:661px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../NetworkDetails_files/u15_normal.png');
}

.u33_container {
    position:absolute;
    left:833px;
    top:94px;
    width:71px;
    height:23px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:29px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../NetworkDetails_files/u11_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:117px;
    width:168px;
    height:23px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:29px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../NetworkDetails_files/u13_normal.png');
}

.u37_container {
    position:absolute;
    left:168px;
    top:117px;
    width:665px;
    height:23px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:671px;
    height:29px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:661px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../NetworkDetails_files/u15_normal.png');
}

.u39_container {
    position:absolute;
    left:833px;
    top:117px;
    width:71px;
    height:23px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:29px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../NetworkDetails_files/u11_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:140px;
    width:168px;
    height:23px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:29px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../NetworkDetails_files/u13_normal.png');
}

.u43_container {
    position:absolute;
    left:168px;
    top:140px;
    width:665px;
    height:23px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:671px;
    height:29px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:661px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../NetworkDetails_files/u15_normal.png');
}

.u45_container {
    position:absolute;
    left:833px;
    top:140px;
    width:71px;
    height:23px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:29px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../NetworkDetails_files/u11_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:163px;
    width:168px;
    height:23px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:29px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../NetworkDetails_files/u13_normal.png');
}

.u49_container {
    position:absolute;
    left:168px;
    top:163px;
    width:665px;
    height:23px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:671px;
    height:29px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:661px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../NetworkDetails_files/u15_normal.png');
}

.u51_container {
    position:absolute;
    left:833px;
    top:163px;
    width:71px;
    height:23px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:29px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../NetworkDetails_files/u11_normal.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:186px;
    width:168px;
    height:23px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:29px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../NetworkDetails_files/u13_normal.png');
}

.u55_container {
    position:absolute;
    left:168px;
    top:186px;
    width:665px;
    height:23px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:671px;
    height:29px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:661px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../NetworkDetails_files/u15_normal.png');
}

.u57_container {
    position:absolute;
    left:833px;
    top:186px;
    width:71px;
    height:23px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:29px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../NetworkDetails_files/u11_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:209px;
    width:168px;
    height:23px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:29px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../NetworkDetails_files/u13_normal.png');
}

.u61_container {
    position:absolute;
    left:168px;
    top:209px;
    width:665px;
    height:23px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:671px;
    height:29px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:661px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../NetworkDetails_files/u15_normal.png');
}

.u63_container {
    position:absolute;
    left:833px;
    top:209px;
    width:71px;
    height:23px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:29px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../NetworkDetails_files/u5_normal.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:232px;
    width:168px;
    height:25px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:31px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../NetworkDetails_files/u7_normal.png');
}

.u67_container {
    position:absolute;
    left:168px;
    top:232px;
    width:665px;
    height:25px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:671px;
    height:31px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:661px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../NetworkDetails_files/u9_normal.png');
}

.u69_container {
    position:absolute;
    left:833px;
    top:232px;
    width:71px;
    height:25px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:31px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../NetworkDetails_files/u5_normal.png');
}

.u71_container {
    position:absolute;
    left:0px;
    top:257px;
    width:168px;
    height:25px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:31px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../NetworkDetails_files/u7_normal.png');
}

.u73_container {
    position:absolute;
    left:168px;
    top:257px;
    width:665px;
    height:25px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:671px;
    height:31px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:661px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../NetworkDetails_files/u9_normal.png');
}

.u75_container {
    position:absolute;
    left:833px;
    top:257px;
    width:71px;
    height:25px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:31px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../NetworkDetails_files/u5_normal.png');
}

.u77_container {
    position:absolute;
    left:0px;
    top:282px;
    width:168px;
    height:25px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:31px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../NetworkDetails_files/u7_normal.png');
}

.u79_container {
    position:absolute;
    left:168px;
    top:282px;
    width:665px;
    height:25px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:671px;
    height:31px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:661px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../NetworkDetails_files/u9_normal.png');
}

.u81_container {
    position:absolute;
    left:833px;
    top:282px;
    width:71px;
    height:25px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:31px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../NetworkDetails_files/u11_normal.png');
}

.u83_container {
    position:absolute;
    left:0px;
    top:307px;
    width:168px;
    height:23px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:29px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../NetworkDetails_files/u13_normal.png');
}

.u85_container {
    position:absolute;
    left:168px;
    top:307px;
    width:665px;
    height:23px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:671px;
    height:29px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:661px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../NetworkDetails_files/u15_normal.png');
}

.u87_container {
    position:absolute;
    left:833px;
    top:307px;
    width:71px;
    height:23px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:29px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../NetworkDetails_files/u11_normal.png');
}

.u89_container {
    position:absolute;
    left:0px;
    top:330px;
    width:168px;
    height:23px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:29px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../NetworkDetails_files/u13_normal.png');
}

.u91_container {
    position:absolute;
    left:168px;
    top:330px;
    width:665px;
    height:23px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:671px;
    height:29px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:661px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../NetworkDetails_files/u15_normal.png');
}

.u93_container {
    position:absolute;
    left:833px;
    top:330px;
    width:71px;
    height:23px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:29px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../NetworkDetails_files/u11_normal.png');
}

.u95_container {
    position:absolute;
    left:0px;
    top:353px;
    width:168px;
    height:23px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:29px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../NetworkDetails_files/u13_normal.png');
}

.u97_container {
    position:absolute;
    left:168px;
    top:353px;
    width:665px;
    height:23px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:671px;
    height:29px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:661px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../NetworkDetails_files/u15_normal.png');
}

.u99_container {
    position:absolute;
    left:833px;
    top:353px;
    width:71px;
    height:23px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:29px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../NetworkDetails_files/u11_normal.png');
}

.u101_container {
    position:absolute;
    left:0px;
    top:376px;
    width:168px;
    height:23px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:29px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../NetworkDetails_files/u13_normal.png');
}

.u103_container {
    position:absolute;
    left:168px;
    top:376px;
    width:665px;
    height:23px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:671px;
    height:29px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:661px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../NetworkDetails_files/u15_normal.png');
}

.u105_container {
    position:absolute;
    left:833px;
    top:376px;
    width:71px;
    height:23px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:29px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../NetworkDetails_files/u107_normal.png');
}

.u107_container {
    position:absolute;
    left:0px;
    top:399px;
    width:168px;
    height:42px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:48px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../NetworkDetails_files/u109_normal.png');
}

.u109_container {
    position:absolute;
    left:168px;
    top:399px;
    width:665px;
    height:42px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:671px;
    height:48px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:661px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../NetworkDetails_files/u111_normal.png');
}

.u111_container {
    position:absolute;
    left:833px;
    top:399px;
    width:71px;
    height:42px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:48px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../NetworkDetails_files/u5_normal.png');
}

.u113_container {
    position:absolute;
    left:0px;
    top:441px;
    width:168px;
    height:25px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:31px;
}

.u114 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../NetworkDetails_files/u7_normal.png');
}

.u115_container {
    position:absolute;
    left:168px;
    top:441px;
    width:665px;
    height:25px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:671px;
    height:31px;
}

.u116 {
    position:absolute;
    left:2px;
    top:2px;
    width:661px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../NetworkDetails_files/u9_normal.png');
}

.u117_container {
    position:absolute;
    left:833px;
    top:441px;
    width:71px;
    height:25px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:31px;
}

.u118 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../NetworkDetails_files/u11_normal.png');
}

.u119_container {
    position:absolute;
    left:0px;
    top:466px;
    width:168px;
    height:23px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:29px;
}

.u120 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../NetworkDetails_files/u13_normal.png');
}

.u121_container {
    position:absolute;
    left:168px;
    top:466px;
    width:665px;
    height:23px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:671px;
    height:29px;
}

.u122 {
    position:absolute;
    left:2px;
    top:2px;
    width:661px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../NetworkDetails_files/u15_normal.png');
}

.u123_container {
    position:absolute;
    left:833px;
    top:466px;
    width:71px;
    height:23px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:29px;
}

.u124 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../NetworkDetails_files/u11_normal.png');
}

.u125_container {
    position:absolute;
    left:0px;
    top:489px;
    width:168px;
    height:23px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:29px;
}

.u126 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../NetworkDetails_files/u13_normal.png');
}

.u127_container {
    position:absolute;
    left:168px;
    top:489px;
    width:665px;
    height:23px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:671px;
    height:29px;
}

.u128 {
    position:absolute;
    left:2px;
    top:2px;
    width:661px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../NetworkDetails_files/u15_normal.png');
}

.u129_container {
    position:absolute;
    left:833px;
    top:489px;
    width:71px;
    height:23px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:29px;
}

.u130 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../NetworkDetails_files/u11_normal.png');
}

.u131_container {
    position:absolute;
    left:0px;
    top:512px;
    width:168px;
    height:23px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:29px;
}

.u132 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../NetworkDetails_files/u13_normal.png');
}

.u133_container {
    position:absolute;
    left:168px;
    top:512px;
    width:665px;
    height:23px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:671px;
    height:29px;
}

.u134 {
    position:absolute;
    left:2px;
    top:2px;
    width:661px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../NetworkDetails_files/u15_normal.png');
}

.u135_container {
    position:absolute;
    left:833px;
    top:512px;
    width:71px;
    height:23px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:29px;
}

.u136 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../NetworkDetails_files/u11_normal.png');
}

.u137_container {
    position:absolute;
    left:0px;
    top:535px;
    width:168px;
    height:23px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:29px;
}

.u138 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../NetworkDetails_files/u13_normal.png');
}

.u139_container {
    position:absolute;
    left:168px;
    top:535px;
    width:665px;
    height:23px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:671px;
    height:29px;
}

.u140 {
    position:absolute;
    left:2px;
    top:2px;
    width:661px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_normal {
    background-image: url('../NetworkDetails_files/u15_normal.png');
}

.u141_container {
    position:absolute;
    left:833px;
    top:535px;
    width:71px;
    height:23px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:29px;
}

.u142 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_normal {
    background-image: url('../NetworkDetails_files/u11_normal.png');
}

.u143_container {
    position:absolute;
    left:0px;
    top:558px;
    width:168px;
    height:23px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:29px;
}

.u144 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_normal {
    background-image: url('../NetworkDetails_files/u13_normal.png');
}

.u145_container {
    position:absolute;
    left:168px;
    top:558px;
    width:665px;
    height:23px;
}

#u145_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:671px;
    height:29px;
}

.u146 {
    position:absolute;
    left:2px;
    top:2px;
    width:661px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_normal {
    background-image: url('../NetworkDetails_files/u15_normal.png');
}

.u147_container {
    position:absolute;
    left:833px;
    top:558px;
    width:71px;
    height:23px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:29px;
}

.u148 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_normal {
    background-image: url('../NetworkDetails_files/u5_normal.png');
}

.u149_container {
    position:absolute;
    left:0px;
    top:581px;
    width:168px;
    height:25px;
}

#u149_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:31px;
}

.u150 {
    position:absolute;
    left:2px;
    top:2px;
    width:164px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151_normal {
    background-image: url('../NetworkDetails_files/u7_normal.png');
}

.u151_container {
    position:absolute;
    left:168px;
    top:581px;
    width:665px;
    height:25px;
}

#u151_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:671px;
    height:31px;
}

.u152 {
    position:absolute;
    left:2px;
    top:2px;
    width:661px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_normal {
    background-image: url('../NetworkDetails_files/u9_normal.png');
}

.u153_container {
    position:absolute;
    left:833px;
    top:581px;
    width:71px;
    height:25px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:31px;
}

.u154 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_normal {
    background-image: url('../NetworkDetails_files/u155_normal.png');
}

.u155_container {
    position:absolute;
    left:88px;
    top:92px;
    width:1278px;
    height:64px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1284px;
    height:70px;
}

.u156 {
    position:absolute;
    left:2px;
    top:24px;
    width:1274px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../NetworkDetails_files/u157_normal.png');
}

.u157_container {
    position:absolute;
    left:1246px;
    top:92px;
    width:64px;
    height:64px;
}

#u157_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u158 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_container {
    position:absolute;
    left:1130px;
    top:94px;
    width:63px;
    height:62px;
}

#u159_img {
    position:absolute;
    left:0px;
    top:0px;
    width:63px;
    height:62px;
}

.u160 {
    position:absolute;
    left:2px;
    top:23px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:102px;
    top:184px;
    width:398px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_container {
    position:absolute;
    left:90px;
    top:92px;
    width:161px;
    height:64px;
}

#u162_img {
    position:absolute;
    left:0px;
    top:0px;
    width:161px;
    height:64px;
}

.u163 {
    position:absolute;
    left:2px;
    top:24px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_normal {
    background-image: url('../NetworkDetails_files/u164_normal.png');
}

.u164_container {
    position:absolute;
    left:1096px;
    top:158px;
    width:89px;
    height:80px;
}

#u164_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:86px;
}

.u165 {
    position:absolute;
    left:2px;
    top:30px;
    width:85px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_normal {
    background-image: url('../NetworkDetails_files/u164_normal.png');
}

.u166_container {
    position:absolute;
    left:1184px;
    top:158px;
    width:89px;
    height:80px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:86px;
}

.u167 {
    position:absolute;
    left:2px;
    top:30px;
    width:85px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_normal {
    background-image: url('../NetworkDetails_files/u164_normal.png');
}

.u168_container {
    position:absolute;
    left:1274px;
    top:158px;
    width:89px;
    height:80px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:86px;
}

.u169 {
    position:absolute;
    left:2px;
    top:30px;
    width:85px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_normal {
    background-image: url('../NetworkDetails_files/u170_normal.png');
}

.u170_container {
    position:absolute;
    left:1298px;
    top:807px;
    width:74px;
    height:80px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:86px;
}

.u171 {
    position:absolute;
    left:2px;
    top:30px;
    width:70px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u172 {
    position:absolute;
    left:1093px;
    top:238px;
    width:280px;
    height:590px;
    overflow:hidden;
}

#pd0u172 {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:590px;
    
}

.u173_normal {
    background-image: url('../NetworkDetails_files/u173_normal.png');
}

.u173_container {
    position:absolute;
    left:15px;
    top:0px;
    width:238px;
    height:289px;
}

#u173_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:244px;
    height:295px;
}

.u174 {
    position:absolute;
    left:2px;
    top:136px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_container {
    position:absolute;
    left:31px;
    top:41px;
    width:205px;
    height:85px;
}

#u175_img {
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:85px;
}

.u176 {
    position:absolute;
    left:2px;
    top:34px;
    width:201px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_normal {
    background-image: url('../NetworkDetails_files/u177_normal.png');
}

.u177_container {
    position:absolute;
    left:26px;
    top:177px;
    width:210px;
    height:77px;
}

#u177_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:83px;
}

.u178 {
    position:absolute;
    left:2px;
    top:22px;
    width:206px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:33px;
    top:260px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180_normal {
    background-image: url('../NetworkDetails_files/u173_normal.png');
}

.u180_container {
    position:absolute;
    left:15px;
    top:298px;
    width:238px;
    height:289px;
}

#u180_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:244px;
    height:295px;
}

.u181 {
    position:absolute;
    left:2px;
    top:136px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182_normal {
    background-image: url('../NetworkDetails_files/u182_normal.png');
}

.u182_container {
    position:absolute;
    left:26px;
    top:466px;
    width:210px;
    height:87px;
}

#u182_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:93px;
}

.u183 {
    position:absolute;
    left:2px;
    top:28px;
    width:206px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184 {
    position:absolute;
    left:45px;
    top:559px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185_container {
    position:absolute;
    left:31px;
    top:324px;
    width:205px;
    height:85px;
}

#u185_img {
    position:absolute;
    left:0px;
    top:0px;
    width:205px;
    height:85px;
}

.u186 {
    position:absolute;
    left:2px;
    top:34px;
    width:201px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:261px;
    top:383px;
    width:125px;
    height:60px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 20px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u188 {
    position:absolute;
    left:261px;
    top:313px;
    width:125px;
    height:60px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 20px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u189 {
    position:absolute;
    left:261px;
    top:456px;
    width:125px;
    height:60px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 20px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u190_normal {
    background-image: url('../NetworkDetails_files/u190_normal.png');
}

.u190_container {
    position:absolute;
    left:90px;
    top:256px;
    width:161px;
    height:46px;
}

#u190_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:52px;
}

.u191 {
    position:absolute;
    left:2px;
    top:12px;
    width:157px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192_normal {
    background-image: url('../NetworkDetails_files/u192_normal.png');
}

.u192_container {
    position:absolute;
    left:124px;
    top:312px;
    width:125px;
    height:60px;
}

#u192_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:66px;
}

.u193 {
    position:absolute;
    left:2px;
    top:20px;
    width:121px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194_normal {
    background-image: url('../NetworkDetails_files/u192_normal.png');
}

.u194_container {
    position:absolute;
    left:124px;
    top:382px;
    width:125px;
    height:60px;
}

#u194_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:66px;
}

.u195 {
    position:absolute;
    left:2px;
    top:20px;
    width:121px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196_normal {
    background-image: url('../NetworkDetails_files/u192_normal.png');
}

.u196_container {
    position:absolute;
    left:124px;
    top:456px;
    width:125px;
    height:60px;
}

#u196_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:66px;
}

.u197 {
    position:absolute;
    left:2px;
    top:20px;
    width:121px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198 {
    position:absolute;
    left:249px;
    top:808px;
    width:135px;
    height:44px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 20px;
    color:#FF9900;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

