body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../PhoneDetails_Model_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1450px;
    height:977px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1450px;
    height:977px;
}

.u1 {
    position:absolute;
    left:2px;
    top:480px;
    width:1446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../PhoneDetails_Model_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:132px;
    top:350px;
    width:272px;
    height:222px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:278px;
    height:228px;
}

.u3 {
    position:absolute;
    left:2px;
    top:100px;
    width:268px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../PhoneDetails_Model_files/u2_normal.png');
}

.u4_container {
    position:absolute;
    left:419px;
    top:350px;
    width:272px;
    height:222px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:278px;
    height:228px;
}

.u5 {
    position:absolute;
    left:2px;
    top:100px;
    width:268px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../PhoneDetails_Model_files/u2_normal.png');
}

.u6_container {
    position:absolute;
    left:706px;
    top:350px;
    width:272px;
    height:222px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:278px;
    height:228px;
}

.u7 {
    position:absolute;
    left:2px;
    top:100px;
    width:268px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../PhoneDetails_Model_files/u2_normal.png');
}

.u8_container {
    position:absolute;
    left:132px;
    top:632px;
    width:272px;
    height:222px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:278px;
    height:228px;
}

.u9 {
    position:absolute;
    left:2px;
    top:100px;
    width:268px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../PhoneDetails_Model_files/u2_normal.png');
}

.u10_container {
    position:absolute;
    left:419px;
    top:632px;
    width:272px;
    height:222px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:278px;
    height:228px;
}

.u11 {
    position:absolute;
    left:2px;
    top:100px;
    width:268px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../PhoneDetails_Model_files/u2_normal.png');
}

.u12_container {
    position:absolute;
    left:706px;
    top:632px;
    width:272px;
    height:222px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:278px;
    height:228px;
}

.u13 {
    position:absolute;
    left:2px;
    top:100px;
    width:268px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../PhoneDetails_Model_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:86px;
    top:158px;
    width:1277px;
    height:80px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1283px;
    height:86px;
}

.u15 {
    position:absolute;
    left:2px;
    top:32px;
    width:1273px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../PhoneDetails_Model_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:90px;
    top:158px;
    width:612px;
    height:80px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:618px;
    height:86px;
}

.u17 {
    position:absolute;
    left:2px;
    top:32px;
    width:608px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:111px;
    top:176px;
    width:646px;
    height:46px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../PhoneDetails_Model_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:1026px;
    top:158px;
    width:84px;
    height:80px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:86px;
}

.u20 {
    position:absolute;
    left:2px;
    top:30px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../PhoneDetails_Model_files/u19_normal.png');
}

.u21_container {
    position:absolute;
    left:1110px;
    top:158px;
    width:84px;
    height:80px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:86px;
}

.u22 {
    position:absolute;
    left:2px;
    top:30px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../PhoneDetails_Model_files/u19_normal.png');
}

.u23_container {
    position:absolute;
    left:1193px;
    top:158px;
    width:84px;
    height:80px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:86px;
}

.u24 {
    position:absolute;
    left:2px;
    top:30px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../PhoneDetails_Model_files/u19_normal.png');
}

.u25_container {
    position:absolute;
    left:1278px;
    top:158px;
    width:84px;
    height:80px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:86px;
}

.u26 {
    position:absolute;
    left:2px;
    top:30px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../PhoneDetails_Model_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:90px;
    top:92px;
    width:1278px;
    height:64px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1284px;
    height:70px;
}

.u28 {
    position:absolute;
    left:2px;
    top:24px;
    width:1274px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../PhoneDetails_Model_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:1246px;
    top:92px;
    width:64px;
    height:64px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u30 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_container {
    position:absolute;
    left:1130px;
    top:94px;
    width:63px;
    height:62px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:63px;
    height:62px;
}

.u32 {
    position:absolute;
    left:2px;
    top:23px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_container {
    position:absolute;
    left:90px;
    top:92px;
    width:161px;
    height:64px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:161px;
    height:64px;
}

.u34 {
    position:absolute;
    left:2px;
    top:24px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:718px;
    top:170px;
    width:355px;
    height:82px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../PhoneDetails_Model_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:1290px;
    top:807px;
    width:74px;
    height:80px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:86px;
}

.u37 {
    position:absolute;
    left:2px;
    top:30px;
    width:70px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u38 {
    position:absolute;
    left:1083px;
    top:238px;
    width:280px;
    height:590px;
    overflow:hidden;
}

#pd0u38 {
    position:absolute;
    left:0px;
    top:0px;
    width:280px;
    height:590px;
    
}

.u39_normal {
    background-image: url('../PhoneDetails_Model_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:15px;
    top:0px;
    width:238px;
    height:289px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:244px;
    height:295px;
}

.u40 {
    position:absolute;
    left:2px;
    top:136px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_container {
    position:absolute;
    left:43px;
    top:6px;
    width:177px;
    height:171px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:177px;
    height:171px;
}

.u42 {
    position:absolute;
    left:2px;
    top:78px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../PhoneDetails_Model_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:26px;
    top:177px;
    width:210px;
    height:59px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:65px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:206px;
    height:54px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:33px;
    top:254px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../PhoneDetails_Model_files/u39_normal.png');
}

.u46_container {
    position:absolute;
    left:15px;
    top:298px;
    width:238px;
    height:289px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:244px;
    height:295px;
}

.u47 {
    position:absolute;
    left:2px;
    top:136px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_container {
    position:absolute;
    left:43px;
    top:304px;
    width:181px;
    height:153px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:181px;
    height:153px;
}

.u49 {
    position:absolute;
    left:2px;
    top:68px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../PhoneDetails_Model_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:26px;
    top:466px;
    width:210px;
    height:77px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:83px;
}

.u51 {
    position:absolute;
    left:2px;
    top:-2px;
    width:206px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:45px;
    top:553px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

